@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../fonts/Satoshi-Bold.woff') format('woff'),
         url('../fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav img {
    height: 30px;
    margin-right: 10px;
}

nav .nav-link {
    font-family: 'Satoshi-Bold';
    color: white;
    font-family: 'Satoshi-Bold';
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav .nav-link:hover {
    color: #1DB954;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000000;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.spotify-logo {
    width: 35px;
    margin-right: 20px;
}

.info-container {
    padding-top: 25px;
    max-width: 960px;
    margin: 40px auto;
    background-color: #1DB954;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* En-tête de l'artiste */
.artist-info {
    background-color: #1f1f1f;
    color: white;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.artist-info img.artist-logo {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-right: 50px;
    object-fit: cover;
    border: 3px solid white;
}

.info {
    flex: 1;
}

.info h1 {
    font-family: 'Satoshi-Bold';
    color: #1DB954;
    margin-bottom: 0.5rem;
}

.info p {
    font-family: 'Satoshi-Bold';
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

/* Liste des membres stylisée */
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

ul li {
    font-family: 'Satoshi-Bold';
    background-color: #1f1f1f;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}

.artist-map {
    width: 100%;
    height: 300px; /* Ajustez selon les besoins */
    background-color: #ddd;
    margin-top: 20px;
}

#map {
    width: 100%;
    height: 450px;
}

.relations ul {
    margin: 0;
    padding: 0;
}

.relations ul li {
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.relations ul li:last-child {
    border-bottom: none;
}

.relations ul li .concert-date {
    font-weight: bold;
}

.relations ul li .concert-city {
    color: #666;
}

.light-mode {
    background-color: #FBEEE6 !important;
}

.light-mode h1 {
    color: #1DB954 !important;
}

.light-mode h2 {
    color: #000000 !important;
}

.light-mode .card-container {
    background-color: #fff !important;
}

.light-mode .artist-card {
    background-color: #fff !important;
}

.light-mode p {
    color: #000000 !important;
}

.light-mode .artist-info {
    background-color: #ffffff;
    color: white;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.light-mode ul li {
    font-family: 'Satoshi-Bold';
    background-color: #ffffff;
    color: #000000;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}

.light-mode .artist-info img.artist-logo {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-right: 50px;
    object-fit: cover;
    border: 3px solid rgb(0, 0, 0);
}




/* Responsive Design */
@media (max-width: 768px) {
    .artist-info {
        flex-direction: column;
        text-align: center;
    }

    .artist-info img.artist-logo {
        margin: 0 auto 20px;
    }

    .info h1 {
        font-size: 24px;
    }
}

/* Mise en page pour les petits écrans */
@media (max-width: 768px) {
    .relations ul li {
        flex-direction: column;
        align-items: flex-start;
    }

    .relations ul li .concert-city {
        margin-top: 5px;
    }
}