/* assets/css/artist_info.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.info-container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.artist-info {
    flex: 1;
}

img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.info {
    padding: 20px;
}

h1 {
    margin: 0;
    color: #007bff;
}

p {
    margin: 5px 0;
    color: #555;
}

/* Style de la carte Google Maps */
#map {
    flex: 1;
    height: 100%;
}

/* Style spécifique à la carte de l'artiste */
.artist-map {
    height: 100%;
}
