@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../fonts/Satoshi-Bold.woff') format('woff'),
         url('../fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

h1 {
    color: #fff;
    text-align: center;

}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav img {
    height: 30px;
    margin-right: 10px;
}

nav .nav-link {
    font-family: 'Satoshi-Bold';
    color: white;
    font-family: 'Satoshi-Bold';
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav .nav-link:hover {
    color: #1DB954;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000000;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.spotify-logo {
    width: 35px;
    margin-right: 20px;
}

.card-container {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artist-card {
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 300px;
}

.artist-card:hover {
    transform: scale(1.05);
}

.artist-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.artist-link {
    text-decoration: none;
}

.info {
    padding: 15px;
}

h2 {
    margin: 0;
    color: #1DB954  ;
}

h2:hover {
    text-decoration: underline;
}

p {
    margin: 5px 0;
    color: #ffffff;
}

.light-mode {
    background-color: #FBEEE6 !important;
}

.light-mode h1 {
    color: #000000 !important;
}

.light-mode .card-container {
    background-color: #FBEEE6 !important;
}

.light-mode .artist-card {
    background-color: #fff !important;
}

.light-mode p {
    color: #555 !important;
}

@media (max-width: 436px) {
    h1 {
        font-size: 1.5rem;
    }
}