/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    color: #fff;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav img {
    height: 30px;
    margin-right: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

.rounded-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    background-color: #444;
    color: #fff;
}

.filters {
    margin-top: 10px;
}

.filters label {
    display: block;
    margin-top: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

button:hover {
    background-color: #0056b3;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ... Autres styles ... */
