<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/artist_info.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Artist Info</title>    
</head>
<body>
    <div class="info-container">
        <div class="artist-info">
            <input type="hidden" id="id" value="{{ .Artist.ID }}">
            <img src="{{ .Artist.Image }}" alt="{{ .Artist.Name }}" class="artist-logo">
            <div class="info">
                <h1>{{ .Artist.Name }}</h1>
                <p>Date de création : {{ .Artist.CreationDate }}</p>
                <p>Premier album : {{ .Artist.FirstAlbum }}</p>
                <ul>
                    <li>Liste des membres : ({{ len .Artist.Members }})
                    {{range .Artist.Members}} <br>- {{ . }}
                    {{end}}
                    </li>
                </ul>
                <div class="relations">
                     <h2>Concerts</h2>
                    {{ if .Relations }}
                    <ul>
                        {{ range $index, $date := .Relations.Dates }}
                        <li>Date: {{ $date }} - City: {{ index $.Relations.Cities $index }}</li>
                        {{ end }}
                    </ul>
                    {{ else }}
                    <p>Aucune information sur les concerts disponible.</p>
                    {{ end }}
                
                </div>
               

            </div>
            
        </div>
        <!-- Intégration de la carte Leaflet -->
        <div id="map" class="artist-map"></div>
        
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>      
    <script src="../assets/js/map.js"></script>
</body>
</html>