<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/459ca3d53b.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <link rel="stylesheet" href="../assets/css/gallery.css">
    <title>Groupie Tracker - Gallery</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="/">
                <div class="logo">
                    <img src="../assets/img/Spotify_icon.svg.webp" alt="Spotify Logo" class="spotify-logo">
                </div>    
            </a>       
            <nav>
                <i id="theme-toggle" class="fa-solid fa-lightbulb" style="color: #fcfcfc; cursor: pointer;"></i>
                <a href="search" class="nav-link"><i class="fas fa-search"></i></a>
            </nav>
        </header>
    </div>
    <h1>Groupie Tracker - Gallery</h1>
    <div class="card-container">
        {{ range .Artists }}
            <a href="/artist_info?id={{ .ID }}" class="artist-link">
                <div class="artist-card">
                    <img src="{{ .Image }}" alt="{{ .Name }}">
                    <div class="info">
                        <h2>{{ .Name }}</h2>
                        <p>Date de première sortie : {{ .FirstAlbum }}</p>
                        <p>Nombre de membres : {{ len .Members }}</p>
                    </div>
                </div>
            </a>
        {{ end }}
    </div>
</body>
    <script src="../assets/js/lightmode.js"></script>
</html>
