<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/459ca3d53b.js" crossorigin="anonymous"></script>
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="../assets/img/Spotify_icon.svg.webp" alt="Spotify Logo" class="spotify-logo">
                Groupie Tracker
            </div>            
            <nav>
                <a href="#" class="nav-link">Accueil</a>
                <a href="gallery" class="nav-link">Gallery</a>
                <a href="search" class="nav-link">Recherche</a>
            </nav>
        </header>
        <main>
            <div class="main-content">
                <div class="wrapper">
                    <h1>Bienvenue sur <span class="green">Groupie Tracker</span> !</h1>
                    <h2>Recherchez vos <span class="green">artistes</span> coup de <span class="green">cœur</span> en seulement <span class="green">quelques clics</span></h2>
                </div>                
                <button class="search-button"><i class="fa-solid fa-play"></i> RECHERCHER MAINTENANT</button>
            </div>
        </main>
    </div>
</body>
</html>
