<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/459ca3d53b.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <link rel="stylesheet" href="../assets/css/search.css">
    <title>Groupie Tracker - Search</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="/">
                <div class="logo">
                    <img src="../assets/img/Spotify_icon.svg.webp" alt="Spotify Logo" class="spotify-logo">
                </div>    
            </a>       
            <nav>
                <i id="theme-toggle" class="fa-solid fa-lightbulb" style="color: #fcfcfc; cursor: pointer;"></i>
                <a href="gallery" class="nav-link"><i class="fas fa-grip-horizontal"></i></a>
            </nav>
        </header>
    <div class="container2">
        <form id="searchForm" action="/search" method="get">
            <div class="search-container">
                <input type="text" name="name" id="searchInput" onkeyup="searchArtist()" placeholder="Nom de l'artiste, année, etc." class="rounded-input" autocomplete="off">
                <button type="button" id="filterToggle" class="filter-btn">Filtres</button>
            </div>
            <div class="filters" id="filtersPanel">
                <label for="yearSelect">Année du premier album</label>
                <select id="yearSelect" name="year" class="rounded-input1">
                    <option value="">Toutes</option>
                    {{range .Years}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>

                <label for="creationYearSelect">Année de création</label>
                <select id="creationYearSelect" name="creationYear" class="rounded-input1">
                    <option value="">Toutes</option>
                    {{range .Years}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>

                <label for="membersSelect">Membres</label>
                <select id="membersSelect" name="members" class="rounded-input1">
                    <option value="">Tous</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <div class="reset-button-container">
                    <button type="button" id="resetFilters" class="reset-btn">Réinitialiser</button>
                </div>
            </div>            
        </form>
        <div id="suggestions" class="suggestions"></div>
    </div>
    <div class="results">
        {{range .Artists}}
        <a href="/artist_info?id={{ .ID }}" class="artist-link">
        <div class="artist-result">
            <img src="{{.Image}}" alt="{{.Name}}">
            <div class="info">
                <h2>{{.Name}}</h2>
                <p>Date de première sortie : {{.FirstAlbum}}</p>
                <p>Nombre de membres : {{len .Members}}</p>
            </div>
        </div>
        {{end}}
    </div>    
</div>

</body>
<script src="../assets/js/search.js"></script>
<script src="../assets/js/lightmode3.js"></script>
</html>
